doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css') 
    link(rel='stylesheet', href='/stylesheets/sticky-footer-navbar.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav.navbar.navbar-expand-lg.navbar-dark.fixed-top.bg-dark
      a.navbar-brand(href='/') ZAB Trainer
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item.active
            a.nav-link(href='/')
              | Home 
              span.sr-only (current)
          li.nav-item
            a.nav-link(href='departures') Departures
          li.nav-item
            a.nav-link(href='arrivals') Arrivals        
        form.form-inline.my-2.my-lg-0
          input.form-control.mr-sm-2(type='search', placeholder='Search', aria-label='Search')
          button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Search

    .container.content
      block content

  .footer
    .container
        span.text-muted &copy; VATSIM ZAB Trainer - Jeffry Babb #{new Date().getFullYear()}
    
  block scripts
